<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>T-Shirt Store Page</title>
<link href="includes/style.css" rel="stylesheet" type="text/css" />
<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css' />
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
<script type="text/javascript" src="includes/js/carousel.js"></script>
<script type="text/javascript" src="includes/js/jquery.nivo.slider.pack.js"></script>
<script type="text/javascript" src="includes/js/nivo.slider.setting.js"></script>
</head>

<body>
<div align="center" style="background:#FFF; padding:5px; position:fixed; color:#999; top:0; position:fixed; width:100%; z-index:10000;"><a href="01-home.html">Home</a> | <a href="02-category.html">Category</a> | <a href="03-product.html">Products</a> | <a href="04-checkout.html">Checkout</a> | <a href="05-page.html">Page</a></div>
<div class="page">
  <div class="header-container">
    <div class="header">
      <div class="shopLinks">
        <ul class="links">
          <li class="first"><a title="My Account" href="#">My Account</a></li>
          <li><a title="My Wishlist" href="#">My Wishlist</a></li>
          <li><a class="top-link-cart" title="My Cart" href="#">My Cart</a></li>
          <li><a class="top-link-checkout" title="Checkout" href="#">Checkout</a></li>
          <li class=" last"><a title="Log In" href="#">Log In</a></li>
        </ul>
        <p class="welcome-msg">Welcome to our online store!<span>&nbsp;</span></p>
      </div>
      <h1 class="logo"><strong>Magento Commerce</strong><a class="logo" title="Magento Commerce" href="#"><img alt="Magento Commerce" src="images/logo.png" /></a></h1>
      <div class="quick-access">
        <div class="shoppingCart">
          <div class="block block-cart">
            <div class="block-content">
              <p class="empty">You have no items in your shopping cart.</p>
            </div>
          </div>
        </div>
        <div class="search">
            <div class="form-search">
              <input type="text" class="input-text" value="" name="q" />
              <button class="button" title="Search" type="submit"></button>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="nav-container">
    <ul id="nav">
      <li class="level-top first"> <a class="level-top" href="#"> <span>New Products</span> </a></li>
      <li class="level-top"> <a class="level-top" href="#"> <span>Specials </span> </a> </li>
      <li class="level-top"> <a class="level-top" href="#"> <span>Cool T-Shirts</span> </a> </li>
      <li class="level-top"> <a class="level-top" href="#"> <span>Teens</span> </a> </li>
      <li class="level-top"> <a class="level-top" href="#"> <span>Active Wear</span> </a> </li>
      <li class="level-top last"> <a class="level-top" href="#"> <span>Jackets &amp; Coats</span> </a> </li>
    </ul>
  </div>
  <div class="main">
    <div class="breadcrumbs">
      <ul>
        <li class="home"> <a title="Go to Home Page" href="#">Home</a> <span>/ </span> </li>
        <li> <strong>New Products</strong> </li>
      </ul>
    </div>
    <div class="col-main1">
      <div class="top-full">&nbsp;</div>
      <div class="m-full">
        <h1>Quisque non augue eget risus pulvinar commodo</h1>
        <br />
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. <br />
          <br />
          It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
          Why do we use it?<br />
          <br />
          It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. <br />
          </p><br />
        <h1>Nulla et mauris ut mi tempor blandit</h1><br />
        Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like). <br />
        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. <br />
        <br />
        Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like). <br />
        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. <br />
        <br />
        Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
        
        <br />
      </div>
      <div class="btm-full">&nbsp;</div>
    </div>
  </div>
</div>
<div class="clear"></div>
<div class="footer-container">
  <div class="footer">
    <div class="block1">
      <h2>Information</h2>
      <ul>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Customer Service</a></li>
        <li><a href="#">Contact Us</a></li>
      </ul>
      <h2>Connect with us</h2>
      <ul>
        <li><a href="#">Twitter</a></li>
        <li><a href="#">Facebook</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Youtube</a></li>
      </ul>
    </div>
    <div class="block1">
      <h2>Services &amp; Support</h2>
      <ul>
        <li><a href="#">Customer Assistance</a></li>
        <li><a href="#">FAQs</a></li>
        <li><a href="#">International Shipping</a></li>
        <li><a href="#">Returns</a></li>
        <li><a href="#">Policies</a></li>
      </ul>
    </div>
    <div class="block2">
      <h2>About the store</h2>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
      <h2>Newsletter</h2>
      <p>Sign Up for Our Newsletter</p>
      <ul>
        <li>
          <div class="block block-subscribe">
              <div class="block-content">
                <div class="input-box">
                  <input type="text" class="input-text" title="Sign up for our newsletter" />
                </div>
                <div class="actions">
                  <button class="button" title="Subscribe" type="submit"><span><span>Subscribe</span></span></button>
                </div>
              </div>
          </div>
        </li>
        <li>
          <div class="payment-method"><span>Payment Method</span></div>
        </li>
      </ul>
    </div>
  </div>
  <div class="clear">&nbsp;</div>
  <div class="copyright">
    <address>
    &copy; 2011 T-Shirt Store. All Rights Reserved.
    </address>
  </div>
</div>
</body>
</html>
