{# src/Tshirt/SiteBundle/Resources/views/Category/add.html.twig #}

{% extends 'TshirtSiteBundle::layout.html.twig' %}

{% block body %}
    <div class="main" style="margin-top:20px;">
        <div class="col-main">
            <div class="category-top">&nbsp;</div>
            <div class="one-page">
                <div class="page-title">
                    <h1>Add a Category</h1>
                </div>
                {% include 'TshirtSiteBundle:Category:form.html.twig' with { 'form': form } %}
            </div>
        </div>
    </div>
{% endblock %}