{# src/Tshirt/SiteBundle/Resources/views/Design/form.html.twig #}

<form action="{{ path('TshirtSiteBundle_category_add') }}" method="post" {{ form_enctype(form) }} class="form">
    {{ form_widget(form) }}
    <p>
        <button class="button" type="submit"><span><span>Submit</span></span></button>
    </p>
</form>